.website-wrapper {
  max-width: 1204px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.website-wrapper--position-fixed {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
}

.navigation-main__logo:before, .navigation-main__info:before, .navigation-main__info-list-wrapper:before, .navigation-main__menu-list:before, .hamburger:before, .footer__bottom-copyright:before, .section-reviews__content-date:before, .section-reservation__content-button:before, .navigation-main__logo:after, .navigation-main__info:after, .navigation-main__info-list-wrapper:after, .navigation-main__menu-list:after, .hamburger:after, .footer__bottom-copyright:after, .section-reviews__content-date:after, .section-reservation__content-button:after {
  content: " ";
  display: table;
}

.navigation-main__logo:after, .navigation-main__info:after, .navigation-main__info-list-wrapper:after, .navigation-main__menu-list:after, .hamburger:after, .footer__bottom-copyright:after, .section-reviews__content-date:after, .section-reservation__content-button:after {
  clear: both;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[hidden*="true"],
[hidden*="hidden"] {
  display: none !important;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-Bold.eot");
  src: url("../fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

a,
span,
small,
h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.875em;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a:hover {
  opacity: 0.9;
  color: #ad9b76;
}

section {
  color: #ad9b76;
}

figure {
  background-repeat: no-repeat;
}

.section-heading, .section-144__heading, .section-offset-images__article-heading, .section-explore__heading, .section-reviews__content-main-heading, .section-instagram__content-heading {
  font-size: 2.5em;
}

.padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .padding-mobile {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .padding-mobile-tablet {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .padding-mobile-laptop {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.main-background-color {
  color: white;
  background-color: #ad9b76;
}

.secondary-background-color {
  color: white;
  background-color: #2a2c41;
}

.main-color {
  color: #ad9b76;
}

.white-background-color {
  background-color: white;
}

.white-color {
  color: white;
}

.icons:before {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 0.6875em;
}

.icons:hover:before {
  color: #ad9b76;
}

@font-face {
  font-family: 'icomoon';
  src: url("../icons/icomoon.eot?gmq3i4");
  src: url("../icons/icomoon.eot?gmq3i4#iefix") format("embedded-opentype"), url("../icons/icomoon.ttf?gmq3i4") format("truetype"), url("../icons/icomoon.woff?gmq3i4") format("woff"), url("../icons/icomoon.svg?gmq3i4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Icon-material-phone:before {
  content: "\e900";
}

.icon-Icon-metro-facebook:before {
  content: "\e901";
}

.icon-Icon-zocial-email:before {
  content: "\e902";
}

.icon-Twitter:before {
  content: "\e903";
}

.icon-XMLID_505:before {
  content: "\e904";
}

.icon-Icon-ionic-ios-arrow-round-forward:before {
  content: "\e905";
}

.icon-Icon-material-location-on:before {
  content: "\e906";
}

.navigation-top {
  background-color: #ad9b76;
  min-height: 50px;
  text-align: center;
}

.navigation-top__message {
  font-size: 1.125em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 0.625em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.navigation-top__message:before {
  content: url("../shapes/linija 3-1.svg");
  margin-right: 0.625em;
}

.navigation-top__message:after {
  content: url("../shapes/linija 3.svg");
  margin-left: 0.625em;
}

.navigation-main {
  min-height: 119px;
}

.navigation-main {
  padding-top: 1.25em;
  color: white;
}

.navigation-main__logo,
.navigation-main__info {
  display: inline-block;
  vertical-align: middle;
}

.navigation-main__logo-link:hover {
  opacity: 0.6;
}

.navigation-main__logo {
  float: left;
}

.navigation-main__info {
  border-bottom: 1px solid #707070;
  padding-bottom: 1.125em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  float: right;
  width: 82%;
}

@media only screen and (min-width: 1024px) {
  .navigation-main__info {
    width: 88%;
  }
}

.navigation-main__info-list-wrapper {
  float: right;
}

.navigation-main__info-list {
  display: inline-block;
  vertical-align: middle;
}

.navigation-main__info-list-item {
  font-size: 0.875em;
  display: inline-block;
  vertical-align: middle;
}

.navigation-main__info-list-item:after {
  content: "";
  border: 1px solid white;
  margin: 0 1.25em;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
}

.navigation-main__info-list-item.icon-Icon-zocial-email:before {
  font-size: 0.5625em;
}

.navigation-main__info-list-item-link {
  margin-left: 0.625em;
}

.navigation-main__info-social {
  display: inline-block;
  vertical-align: middle;
}

.navigation-main__info-social-icon {
  margin-right: 0.625em;
  display: inline-block;
  vertical-align: middle;
}

.navigation-main__info-social-icon:last-of-type {
  margin-right: 0;
}

.navigation-main__info-social-icon-link {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (max-width: 991px) {
  .navigation-main__menu {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }
}

.navigation-main__menu-list {
  float: right;
  padding-top: 1.125em;
  text-align: right;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navigation-main__menu-list {
    font-size: 0.7125em;
  }
}

@media only screen and (max-width: 991px) {
  .navigation-main__menu-list {
    text-align: center;
  }
}

.navigation-main__menu-list-item {
  font-size: 1.125em;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .navigation-main__menu-list-item {
    margin-right: 1.875em;
    display: inline-block;
    vertical-align: middle;
  }
  .navigation-main__menu-list-item:last-of-type {
    margin-right: 0;
  }
}

@media only screen and (max-width: 991px) {
  .navigation-main__menu-list-item {
    margin-bottom: 0.875em;
  }
  .navigation-main__menu-list-item:last-of-type {
    margin-bottom: 0;
  }
}

.navigation-main__menu-list--active {
  color: #ad9b76;
}

@media only screen and (min-width: 992px) {
  .navigation-main__menu-list--active:after {
    content: "\2022";
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 1.375em;
    pointer-events: none;
    -webkit-transform: translate(-50%, 75%);
    transform: translate(-50%, 75%);
  }
}

.navigation-main__menu-list-link {
  font-size: 1.125em;
}

@media only screen and (max-width: 991px) {
  .navigation-main__info,
  .navigation-main__menu {
    display: none;
  }
}

/* mobile menu */
.hamburger {
  display: none;
}

@media only screen and (max-width: 991px) {
  .hamburger {
    display: inline-block;
    float: right;
    cursor: pointer;
  }
}

@media only screen and (max-width: 991px) {
  .navigation-main__menu.active {
    display: table;
  }
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fdfdfd;
}

.hero-section {
  min-height: 894px;
}

.hero-section__text {
  position: relative;
  color: #ad9b76;
}

@media only screen and (min-width: 992px) {
  .hero-section__text {
    padding-top: 20.375em;
  }
}

@media only screen and (max-width: 991px) {
  .hero-section__text {
    top: 119px;
  }
}

.hero-section__text-heading {
  font-size: 5.3125em;
  color: white;
  max-width: 75%;
}

.hero-section__text-paragraph {
  max-width: 50%;
  margin-top: 1.875em;
  margin-bottom: 1.875em;
  line-height: 25px;
}

.main-button, .secondary-button, .secondary-color-button {
  border-radius: 23px;
  background-color: #ad9b76;
  font-size: 1em;
  padding: 0.75em 1.21875em;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: white;
  border: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: inline-block;
  vertical-align: middle;
}

.main-button:hover, .secondary-button:hover, .secondary-color-button:hover {
  color: #2a2c41;
  background-color: white;
}

.secondary-button:hover {
  background-color: #2a2c41;
  color: white;
}

.secondary-color-button {
  background-color: #2a2c41;
}

.secondary-color-button:hover {
  background-color: white;
  color: #2a2c41;
}

.footer {
  min-height: 514px;
  padding: 90px 0;
  font-size: 0;
  position: relative;
}

.footer__content-heading,
.footer__content-list-item-link,
.footer__content-info-social-heading {
  font-size: 1.125em;
}

.footer__logo,
.footer__content-heading,
.footer__content-info-input {
  margin-bottom: 30px;
}

.footer__content-column {
  font-size: 16px;
  vertical-align: top !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__content-column:first-of-type, .footer__content-column:nth-of-type(2), .footer__content-column:nth-of-type(3), .footer__content-column:last-of-type {
    width: 50%;
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .footer__content-column:first-of-type, .footer__content-column:nth-of-type(2), .footer__content-column:nth-of-type(3), .footer__content-column:last-of-type {
    display: block;
  }
}

.footer__content-list-item,
.footer__content-info-paragraph,
.footer__content-info-social-heading {
  margin-bottom: 20px;
}

.footer__content-list-item-link {
  display: inline-block;
  vertical-align: middle;
}

.footer__content-list-item-link--location-marker {
  max-width: 210px;
  line-height: 25px;
}

.footer__content-list-item-link:hover {
  color: white;
}

.footer__content-list-item-icons.icons {
  margin-right: 10px;
}

.footer__content-list-item-icons:before {
  font-size: 1em;
}

.footer__content-list-item-icons.icon-Icon-material-phone {
  font-size: 0.6875em;
}

.footer__content-list-item-icons.icon-Icon-zocial-email {
  font-size: 0.5em;
}

.footer__content-info-input-form {
  position: relative;
}

.footer__content-info-input {
  width: 100%;
  min-height: 45px;
  border-radius: 23px;
  padding-left: 20px;
  padding-right: 100px;
}

@media only screen and (min-width: 1200px) {
  .footer__content-info-input {
    max-width: 455px;
  }
}

.footer__content-info-submit-button {
  font-size: 0.875em;
  min-height: 42px;
  position: absolute;
  right: 6%;
  top: 2%;
}

@media only screen and (min-width: 120px) and (max-width: 1200px) {
  .footer__content-info-submit-button {
    right: 0;
  }
}

.footer__content-info-social-icons {
  color: inherit;
  margin-right: 10px;
  cursor: pointer;
}

.footer__content-info-social-icons:before {
  font-size: 1.1875em;
}

.footer__content-info-social-icons:hover:before {
  color: white;
}

.footer__bottom {
  font-size: 16px;
  padding-top: 10.8px;
  padding-bottom: 10.8px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media only screen and (min-width: 1200px) {
  .footer__bottom {
    bottom: -39px;
  }
}

.footer__bottom-link,
.footer__bottom-copyright {
  font-size: 0.875em;
  display: inline-block;
  vertical-align: middle;
}

.footer__bottom-link:hover {
  color: #424242;
}

.footer__bottom-copyright {
  float: right;
}

.section-144 {
  font-size: 0;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .section-144 {
    text-align: center;
  }
}

.section-144__column {
  font-size: 16px;
}

.section-144__paragraph {
  color: #424242;
  padding: 30px 0;
  line-height: 25px;
}

.section-144__image-shape {
  position: relative;
  width: 455px;
  height: 593px;
  background-position: 64% bottom;
  margin-left: auto;
}

@media only screen and (min-width: 1024px) {
  .section-144__image-shape {
    top: -8.3em;
  }
}

@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .section-144__image-shape {
    margin-top: 3.125em;
  }
}

.section-144__image-shape:after {
  content: "";
  position: absolute;
  left: -25px;
  top: -25px;
  border: 2px solid #ad9b76;
  width: 455px;
  height: 593px;
}

.section-drink-dine-images__image {
  background-position: 74% 32%;
}

.section-offset-images {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 276px;
  margin-bottom: 90px;
}

@media only screen and (min-width: 1024px) {
  .section-offset-images {
    max-width: 1509px;
  }
}

@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .section-offset-images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

.section-offset-images--margin-left-auto {
  margin-left: auto;
}

.section-offset-images__image {
  min-height: 276px;
}

.section-offset-images__column {
  min-height: inherit;
  display: block;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .section-offset-images__column {
    display: inline-block;
    vertical-align: middle;
  }
}

.section-offset-images__column:first-of-type {
  width: 66.66%;
}

@media only screen and (min-width: 1509px) {
  .section-offset-images__column:first-of-type {
    width: 100%;
    max-width: 1024px;
  }
}

@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .section-offset-images__column:first-of-type {
    width: 100%;
  }
}

.section-offset-images__column:last-of-type {
  width: 33.33%;
}

@media only screen and (min-width: 1509px) {
  .section-offset-images__column:last-of-type {
    max-width: 485px;
    width: 485px;
  }
}

@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .section-offset-images__column:last-of-type {
    width: 100%;
  }
}

.section-offset-images__column--flex-order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.section-offset-images__article {
  font-size: 16px;
  max-width: 100%;
  padding: 40px;
  padding-top: 53px;
  padding-bottom: 27px;
  min-height: inherit;
}

.section-offset-images__article-paragraph {
  margin-top: 30px;
  line-height: 25px;
}

.section-explore {
  padding-top: 94.75px;
  padding-bottom: 94.75px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .section-explore {
    height: 379px;
    margin-bottom: 379px;
  }
}

.section-explore__heading:before, .section-explore__heading:after {
  content: "";
  display: inline-block;
  position: relative;
  border-top: 1px solid white;
  width: 19%;
  max-width: 388px;
  margin: 0 1rem;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

@media only screen and (min-width: 1200px) {
  .section-explore__heading:before, .section-explore__heading:after {
    width: 100%;
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .section-explore__heading:before, .section-explore__heading:after {
    display: none;
  }
}

.section-explore__heading:before {
  margin-right: 11px;
  left: -30px;
}

.section-explore__heading:after {
  margin-left: 11px;
  right: -30px;
}

.section-explore__paragraph {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 582px;
  line-height: 25px;
}

.section-explore__images {
  font-size: 0;
  min-height: 299px;
}

.section-explore__images-column {
  width: 100%;
  min-height: inherit;
}

.section-explore__images-image {
  margin-top: 30px;
  height: 299px;
  background-position: 27% 56%;
}

@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .section-explore__images-image {
    width: 48%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    height: 240px;
  }
}

@media only screen and (min-width: 1024px) {
  .section-explore__images-image {
    width: 89.7%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .section-explore__images-image {
    width: 64%;
  }
}

.section-explore__images--background-position-left {
  background-position: 77% center;
}

.section-explore__images--background-position-right {
  background-position: left center;
}

.section-explore__shape {
  position: relative;
}

.section-explore__shape:after {
  content: "";
  position: absolute;
  left: 45px;
  top: 55.5px;
  border: 2px solid #ad9b76;
  min-width: 92.3%;
  height: 299px;
}

@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .section-explore__shape:after {
    display: none;
  }
}

.section-takeaway {
  min-height: 305px;
}

.section-takeaway__button {
  margin-top: 30px;
}

.section-takeaway__button-icon {
  margin-left: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 0.625em;
  display: inline-block;
  vertical-align: middle;
}

.section-takeaway__button-icon:before {
  color: inherit;
}

.section-takeaway__image {
  min-height: 305px;
  background-position: right 52%;
}

.section-reviews {
  min-height: 494px;
  font-size: 0;
  padding: 106px 0;
}

.section-reviews__content-column {
  vertical-align: top !important;
}

.section-reviews__content-column,
.section-reviews__content-arrows,
.section-reviews__content-headings {
  font-size: 16px;
}

.section-reviews__content-main-heading {
  margin-bottom: 30px;
}

.section-reviews__content-main-heading:after {
  content: "";
  display: inline-block;
  position: relative;
  border-top: 1px solid white;
  margin: 0 1rem;
  margin-right: 1rem;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  max-width: 72%;
  width: 100%;
  margin-left: 30px;
  top: 6px;
}

@media only screen and (min-width: 1200px) {
  .section-reviews__content-main-heading:after {
    max-width: 82%;
  }
}

@media only screen and (max-width: 991px) {
  .section-reviews__content-reviews-article {
    margin: 20px;
  }
}

.section-reviews__content-reviews-article-secondary-heading {
  font-size: 1.5625em;
}

.section-reviews__content-reviews-article-paragraph {
  margin: 30px 0;
}

.section-reviews__content-arrows {
  text-align: center;
  margin-top: 30px;
}

.section-reviews__content-arrows-icons {
  border-radius: 26px;
  width: 50px;
  height: 50px;
  background-color: #2a2c41;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  text-align: center;
  font-size: 0.625em;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.section-reviews__content-arrows-icons:hover {
  color: #2a2c41;
  background-color: white;
}

.section-reviews__content-arrows-icons:last-of-type {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 0;
}

.section-reviews__content-arrows-icons:before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
  vertical-align: middle;
}

.section-reviews__content-stars,
.section_reviews__content-date {
  display: inline-block;
  vertical-align: middle;
}

.section_reviews__content-star {
  font-size: 1.0625em;
  display: inline-block;
  vertical-align: middle;
}

.section-reviews__content-date {
  float: right;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.875em;
}

.section-instagram {
  padding: 90px 0;
  font-size: 0;
}

.section-instagram__content-headings,
.section-instagram__content-footer {
  font-size: 16px;
}

.section-instagram__content-images {
  padding: 30px 0;
}

@media only screen and (min-width: 120px) and (max-width: 1200px) {
  .section-instagram__content-images-column {
    width: 50%;
  }
}

@media only screen and (max-width: 991px) {
  .section-instagram__content-images-column {
    width: 100%;
  }
}

.section-instagram__content-images-image {
  width: 261px;
  min-height: 261px;
}

@media only screen and (min-width: 120px) and (max-width: 1200px) {
  .section-instagram__content-images-image {
    margin: 20px auto;
  }
}

@media only screen and (min-width: 1200px) {
  .section-instagram__content-images-image--second-image {
    margin: 0 auto;
  }
  .section-instagram__content-images-image--third-image {
    margin: 0 auto;
  }
  .section-instagram__content-images-image--fourth-image {
    margin-left: auto;
  }
}

.section-instagram__content-footer {
  text-align: center;
}

.section-reservation {
  min-height: 105px;
  padding: 32.5px 0;
}

.section-reservation__content-heading,
.section-reservation__content-button {
  display: inline-block;
  vertical-align: middle;
}

.section-reservation__content-heading {
  font-size: 1.125em;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .section-reservation__content-heading {
    margin-top: 11px;
    margin-bottom: 11px;
  }
}

@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .section-reservation__content-heading {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .section-reservation__content-button {
    float: right;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-small-1 {
    width: 8.33%;
  }
  .col-small-2 {
    width: 16.66%;
  }
  .col-small-3 {
    width: 25%;
  }
  .col-small-4 {
    width: 33.33%;
  }
  .col-small-5 {
    width: 41.66%;
  }
  .col-small-6 {
    width: 50%;
  }
  .col-small-7 {
    width: 58.33%;
  }
  .col-small-8 {
    width: 66.66%;
  }
  .col-small-9 {
    width: 75%;
  }
  .col-small-10 {
    width: 83.33%;
  }
  .col-small-11 {
    width: 91.66%;
  }
  .col-small-12 {
    width: 100%;
  }
}

/* Custom tablet breakpoint */
@media only screen and (min-width: 768px) {
  /* For tablets: */
  .col-middle-1 {
    width: 8.33%;
  }
  .col-middle-2 {
    width: 16.66%;
  }
  .col-middle-3 {
    width: 25%;
  }
  .col-middle-4 {
    width: 33.33%;
  }
  .col-middle-5 {
    width: 41.66%;
  }
  .col-middle-6 {
    width: 50%;
  }
  .col-middle-7 {
    width: 58.33%;
  }
  .col-middle-8 {
    width: 66.66%;
  }
  .col-middle-9 {
    width: 75%;
  }
  .col-middle-10 {
    width: 83.33%;
  }
  .col-middle-11 {
    width: 91.66%;
  }
  .col-middle-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .col-large-1 {
    width: 8.33%;
  }
  .col-large-2 {
    width: 16.66%;
  }
  .col-large-3 {
    width: 25%;
  }
  .col-large-4 {
    width: 33.33%;
  }
  .col-large-5 {
    width: 41.66%;
  }
  .col-large-6 {
    width: 50%;
  }
  .col-large-7 {
    width: 58.33%;
  }
  .col-large-8 {
    width: 66.66%;
  }
  .col-large-9 {
    width: 75%;
  }
  .col-large-10 {
    width: 83.33%;
  }
  .col-large-11 {
    width: 91.66%;
  }
  .col-large-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .col-ex-large-1 {
    width: 8.33%;
  }
  .col-ex-large-2 {
    width: 16.66%;
  }
  .col-ex-large-3 {
    width: 25%;
  }
  .col-ex-large-4 {
    width: 33.33%;
  }
  .col-ex-large-5 {
    width: 41.66%;
  }
  .col-ex-large-6 {
    width: 50%;
  }
  .col-ex-large-7 {
    width: 58.33%;
  }
  .col-ex-large-8 {
    width: 66.66%;
  }
  .col-ex-large-9 {
    width: 75%;
  }
  .col-ex-large-10 {
    width: 83.33%;
  }
  .col-ex-large-11 {
    width: 91.66%;
  }
  .col-ex-large-12 {
    width: 100%;
  }
}

/* All devices */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  display: inline-block;
  vertical-align: middle;
}
/*# sourceMappingURL=main.css.map */