.hero-section {
  min-height: 894px;
}

.hero-section__text {
  position: relative;
  color: $main-color;
  @include breakpoint(992px) {
    padding-top: 20.375em;
  }
  @include breakpoint("mobile-tablet") {
    top: 119px;
  }
}

.hero-section__text-heading {
  font-size: 5.3125em;
  color: $color-white;
  max-width: 75%;
}

.hero-section__text-paragraph {
  max-width: 50%;
  margin-top: 1.875em;
  margin-bottom: 1.875em;
}
