.navigation-main__info,
.navigation-main__menu {
  @include breakpoint("mobile-tablet") {
    display: none;
  }
}

/* mobile menu */
.hamburger {
  display: none;
  @extend %clearfix;
  @include breakpoint("mobile-tablet") {
    display: inline-block;
    float: right;
    cursor: pointer;
  }
}

.navigation-main__menu.active {
  @include breakpoint("mobile-tablet") {
    display: table;
  }
}

.hamburger.active {
  & .bar:nth-child(2) {
    opacity: 0;
  }
  & .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  & .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fdfdfd;
}

