.section-144 {
  font-size: 0;
  color: $main-color;
  @include breakpoint("phone") {
    text-align: center;
  }
}

.section-144__column {
  font-size: 16px;
}

.section-144__paragraph {
  color: $color-tundora;
  padding: 30px 0;
}

.section-144__button {
  &:hover {
    background-color: $color-ebony-clay;
    color: $color-white;
  }
}

.section-144__image-shape {
  position: relative;
  width: $section-144-image-width;
  height: $section-144-image-height;
  background-position: 64% bottom;
  background-repeat: no-repeat;
  margin-left: auto;
  @include breakpoint("desktop") {
    top: -8.3em;
  }
  @include breakpoint("mobile-tablet") {
    margin-top: 3.125em;
  }
  &:after {
    content: "";
    position: absolute;
    left: -25px;
    top: -25px;
    border: 2px solid $main-color;
    width: $section-144-image-width;
    height: $section-144-image-height;
  }
}

.section-144__heading {  
  @extend .section-heading;
}
