.section-drink-dine {
    font-size: 0;
    min-height: $section-drink-dine-height;
    color: $main-text-color;
    @include breakpoint("desktop") {
        max-width: 1509px;
    }
    // Inherit min height
    @at-root .section-drink-dine__image {
        min-height: $section-drink-dine-height;
    }
}

.section-drink-dine__column {
    min-height: inherit;
    display: block;
    width: 100%;
    @include breakpoint(1024px) {
        @include inline-block;
    }
    &:first-of-type() {
        width: 66.66%;
        @include breakpoint(1509px) {
            min-width: 1024px;
            width: 100%;
            max-width: 1024px;
        }
        @include breakpoint("mobile-laptop") {
            width: 100%;
        }
    }
    &:last-of-type() {
        width: 33.33%;
        @include breakpoint(1509px) {
            max-width: 485px;
            width: 485px;
        }
        @include breakpoint("mobile-laptop") {
            width: 100%;
        }
    }
}

.section-drink-dine__article {
    font-size: 16px;
    max-width: 100%;
    background-color: $main-color;
    padding: 40px;
    // Solution offset
    padding-top: 40px + 13px;
    padding-bottom: 40px - 13px;
    min-height: inherit;
}

.section-drink-dine__article-heading {
    @extend .section-heading;
}

.section-drink-dine__article-paragraph {
    margin-top: 30px;
    line-height: 25px;
}
