.website-wrapper {
  max-width: $desktop-wrapper-width;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  @at-root .website-wrapper--position-fixed {
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
  }
}

%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
