@font-face {
    font-family: 'icomoon';
    src:  url('../icons/icomoon.eot?gmq3i4');
    src:  url('../icons/icomoon.eot?gmq3i4#iefix') format('embedded-opentype'),
      url('../icons/icomoon.ttf?gmq3i4') format('truetype'),
      url('../icons/icomoon.woff?gmq3i4') format('woff'),
      url('../icons/icomoon.svg?gmq3i4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-Icon-material-phone:before {
    content: "\e900";
    color: #fff;
  }
  .icon-Icon-metro-facebook:before {
    content: "\e901";
    color: #fff;
  }
  .icon-Icon-zocial-email:before {
    content: "\e902";
    color: #fff;
  }
  .icon-Twitter:before {
    content: "\e903";
    color: #fff;
  }
  .icon-XMLID_505:before {
    content: "\e904";
    color: #fff;
  }
  